.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5= current_user.name
        .chat-user__actions
          %a.chat-user__action{ href: '#' }
            %i.fa.fa-pencil-square-o
          = link_to edit_user_path(current_user), class: 'chat-user__action' do
            %i.fa.fa-cog
      %ul.chat-groups
        - @groups.each do |group|
          %li.chat-group
            = link_to group_path(group), class: 'chat-group__link' do
              %p.chat-group__name
                = group.name
              %p.chat-group__message
                = group.messages.last.content
