.layout-notification
  .chat
    = render 'layouts/chat_side_bar'
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2= @group.name
          %p.chat-header__users
            Members:
            - @group.users.each do |user|
              %span.chat-header__user
                = user.name
        .chat-header--right
          = link_to 'Edit', edit_group_path(@group), class: 'chat-header__edit-btn'
      .chat-body
        %ul.chat-messages
          = render @group.messages
      .chat-footer
        .new_message#new_message
          = form_for [@group ,@message], html: { id: 'new_message_form' } do |f|
            .chat-footer__body
              = f.text_area :content, rows: '1', placeholder: 'type a message'
              %label.chat-footer__file
                = f.file_field :image, id: 'new_image'
                %i.fa.fa-image
            = f.submit 'Send', id: 'new_message_submit'
